
.success{
  color: #198754;
  text-shadow: black 3px 4px;
}
/*Mode Start*/

/*Mode End*/

/*Start Sign Section*/

/*End Sign Section*/
/*Contact Section Start*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
.conatiner-section{
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
              url('../images/beautiful-road.jpg') center/cover no-repeat;
    height: 28vh !important;
    width: 100% !important;
    max-width: 100% !important;

}
.conatiner-section h1{
    color: antiquewhite;
     font-weight: 700;
      font-size: 50px;
      text-align: center;
      padding-top: 100px;
      font-family: 'Cairo', sans-serif;
    text-shadow: black 3px 4px;


    }
.conatiner-section span{
    color: #198754;
}
.row-bord{
    margin-right: 0;
    margin-left: 0;
}
.bi{
    font-size: 60px !important;
}
.bi:hover{
    color: #198754 !important;
    cursor: pointer !important;
}
.contact-details{
    font-size: 25px !important;
    font-weight: 600 !important;
}

.btn-primary{
    background-color: #198754 !important;
    border: #198754 !important;
}
@media only screen and (max-width: 600px) {
   .form-control{
    width: 100% !important;
   }
   .row>* {
    padding-left: 0 !important;
}

  }
/*Contact Section End*/
